* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --purple-color: #ba0cc5;
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

body {
  height: 150vh;
  background: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0.5),
      rgba(15, 15, 15, 0)
    ),
    url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

section:first-child {
  height: 12vh;
  background-color: var(--black-color);
  padding: 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  position: relative;
  align-items: center;
  height: 100%;
}

.navbar img {
  height: 35px;
}

.navbar div:first-child::after {
  content: "";
  width: 1px;
  height: 75%;
  background-color: var(--white-color);
  position: absolute;
  top: 10px;
  left: 180px;
}

.list {
  list-style-type: none;
  width: 35vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -40vw;
}

select {
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
}

select:active {
  border: none;
}

.list-item {
  font-family: var(--poppins);
  font-size: 15px;
  color: var(--white-color);
}

.button-small,
.button-large {
  color: var(--white-color);
  background-color: var(--purple-color);
  font-family: var(--poppins);
  font-size: 15px;
  font-weight: 500px;
  border: none;
  padding: 8px 25px;
  border-radius: 20px;
}

.button-large {
  font-size: 30px;
  font-weight: 500;
}

.hero {
  display: flex;
  height: calc(100vh - 12vh);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-heading {
  font-family: var(--montserrat);
  font-size: 70px;
  font-weight: 700;
  width: 50%;
  color: var(--white-color);
}

.hero-description {
  font-family: var(--poppins);
  font-size: 30px;
  color: var(--white-color);
  margin: 15px auto 40px auto;
}
